$secondary: #4d4d4d;
$primary: #ff5956;
// $warning: #e7e377;
$success: #3fad4b;
// $danger: #bf543f;
$light: #fff;
$info: #1da0c4;
$dark: #2a2d3e;
$lightPrimary: #ff5956b3;

.rmdp-panel-body li, .rmdp-panel-body li.bg-blue {
    background-color: $primary;
}

:root {
    --secondary: $secondary;
    --primary: $primary;
    --warning: $warning;
    --success: $success;
    --danger: $danger;
    --light: $light;
    --info: $info;
    --dark: $dark;
    --primary-gradient: linear-gradient(118deg, #ff5956, #ff5956b3);
    --app-dashboard-bg: #f8f8f8;
    --app-dashboard-menu-bg: #fff;
    --menu-item-font-color: #625f6e;
    --active-menu-item-font-color: #fff;
    --dashboard-font-color: #454545;
    --popup-header-bg-color: #ccc;
    --popup-footer-bg-color: #ccc;
    --popup-bg-color: #f6f6f6;
    --popup-title-font-size: 1rem
}

// Existing variables and their defaults
$nice-dates-color-gray-dark: $primary;
$nice-dates-color-gray: #999;
$nice-dates-color-gray-light: #ddd;
$nice-dates-color-accent: $nice-dates-color-gray-dark;
$nice-dates-font-size-small: 12px;
$nice-dates-font-size-base: 14px;
$nice-dates-font-size-big: 16px;

// datepicker colors
$datepicker__background-color: #f0f0f0 !default;
$datepicker__border-color: #aeaeae !default;
$datepicker__highlighted-color: $primary !default;
$datepicker__holidays-color: #ff6803 !default;
$datepicker__muted-color: #ccc !default;
$datepicker__selected-color: $lightPrimary !default;
$datepicker__text-color: #000 !default;
$datepicker__header-color: #000 !default;

